* 
{
    box-sizing: border-box;
    
}

/*MAIN CONTENT STYLING*/
body
{
    background-color: #CFD7EE;   
    overflow: auto;   
}
main
{
    margin-top: 5em;
    width: 90%;
    margin-left: 5%;
    
}
main #description
{
    text-align: center;
    width: 50%;
    margin: auto;
    padding: 4em 0;
}
.content
{
    width: 80%;
    margin-left: 10%;
}
.flash-msg 
{
  padding: 0.4em;
  font-weight: bold;
  background-color: rgb(236, 86, 86);
  color: black;
  border-radius: 15px;
  width: 100%;
  max-width: 20em;
  margin: auto;
}
.content #details
{
    border: 1px solid black;
    margin-bottom: 1.5em;
    margin-top: 0.5em;
    text-align: left;
    padding: 0.5em 0 0.5em;
}
/*FONT STYLING*/
h1
{
    font-size: 2.5em;
    text-align: center;
}
h2
{
    font-size: 2em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 0.3em;
}
h3
{
    font-size: 1.5em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#centered
{
    text-align: center;
    padding: 0.4em;
}

/*BUTTON STYLING*/
.btn
{
    border-radius: 12px;
    text-decoration: none;
    color: black;
    background-color: white;
    font-size: 20px;
    width: 5em;
    border: 1px solid black;
    transition-duration: 0.4s;
    margin: 0.3em;
}
.btn:hover
{
  background-color: #3CA54E;
  color: white;
  cursor:pointer;
}
#left
{
    margin-left: 1em;
    padding: 0.6em;
    float: left;
}
form .btn
{
    float: right;
    width: fit-content;
    padding: 16px;
}
.btn-group
{
    display: inline-block;
    width: 100%;
    margin: 1em 0 0.5em 0;
}

/*FLEXBOX STYLING*/
.flex-container
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    max-width: 50em;
    margin: auto;
}
.left-details
{
    width: 40%;
}
.right-details
{
    width: 40%;
}
.flex-container .details
{
    margin: 0 3em 3em 3em;
}

.flex-container .details p
{
    max-width: 60%;
    font-size: 1em;
    padding: 0.5em;
}

.flex-left
{
    display: flex;
    flex-direction: column;
    float: left;
    margin-left: 1em;
    width: 45%;
    margin-top: 1em;
}

.flex-right 
{
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    float: right;
    margin-right: 2em;
    width: 45%;
}
.flex-form
{
    width: 100%;
    max-width: 30em;
    margin: auto;
}
.flex-form form
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3em;
   
}
.flex-form  p 
{
    padding-bottom: 1em;
    font-size: 1em;
    font-weight: bold;
}

/*INPUT STYLING*/
label
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1em;
    padding: 0.5em;
}
input, #worldDetails
{
    border: 1px solid black;
    border-radius: 12px;
    padding: 10px;
}
#image
{
    padding: 0;
    background-color: white;
}
input[type=file]::file-selector-button
{
    background-color: white;
    color: black;
    width: 100%;
    border-radius: 12px;
    font-size: 20px;
    border: none;
    padding: 0.5em;
}
input[type=file]::file-selector-button:hover
{
    background-color: #3CA54E;
    color: white;
    cursor:pointer;
}
textarea
{
    border: 1px solid black;
    border-radius: 12px;
    margin-bottom: 1em;
    text-align: left;
    padding: 0.5em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    min-height: 20em;
    min-width: 30em;
}
#options
{
    padding: 0.5em;
}
/*STYLING IMAGES*/
.content ul
{
    list-style-type: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 1px solid black;
    padding: 0.5em;
}
img
{
    max-width: 20em;
    max-height: 20em;
}

