.content
{
  margin: auto;
  width: 50%;
}

/*Styling the checkbox to look like a toggle button instead*/
.toggle-field
{
  padding: 0.50em;
}

.toggle
{
  position: relative;
  display: inline-block;
  width: 3.25em;
  height: 1.5em;
  padding: 0;
    
}

.toggle input
{
  opacity: 0;
  width: 0;
  height: 0;
}

.slider-round 
{
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider-round:before 
{
  position: absolute;
  content: "";
  height: 1.05em;
  width: 1.05em;
  left: 0.25em;
  bottom: 0.25em;
  background-color: #ffffff;
  -webkit-transition: .4s;
  transition: .4s;
}
  
input:checked + .slider-round {
  background-color: #4A746A;
}

input:focus + .slider-round {
  box-shadow: 0 0 1px #4A746A;
}

input:checked + .slider-round:before {
  -webkit-transform: translateX(1.62em);
  -ms-transform: translateX(1.62em);
  transform: translateX(1.62em);
}

.slider-round {
  padding: 0;
  border-radius: 2.12em;
}

.slider-round:before {
  border-radius: 50%;
}

/*Styling the form*/
.form-container
{
  width: 35%;
  margin: auto;
}
form
{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 21.87em;
  width: 18.75em;
  flex-direction: column;
  gap: 2.18em;
  border-radius: 15px;
  background-color: #e3e3e3;
  box-shadow: 16px 16px 32px #c8c8c8, -16px -16px 32px #fefefe;
  border-radius: 8px;
}

.control
{
  float: left;
  font-size: 1em;
  font-family: Georgia, 'Times New Roman', Times, serif;
  width: 30%;
}
label input
{
  border: 1px solid black;
  border-radius: 15px;
  width: 50%;
  padding: 10px;
  margin: 0.7em 0;
}

/*Styling the heading/title text for the login and sign up forms*/
.heading
{
  margin: 5em 0 0 0;
}
.title 
{
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
}

h2
{
  font-size: 2em;
}

h1
{
  font-size: 3.5em;
}