@font-face {
  font-family: 'Mason';
  src: url("fonts/mason.ttf");
}

body 
{
  background-image: url('images/background.svg');
  background-repeat: no-repeat;
  object-fit: cover;
  margin: 0;
}

/*Styling the checkbox to look like a toggle button instead*/
.toggle-field
{
  padding: 0.50em;
  width: 90%;
}

.toggle
{
  position: relative;
  display: inline-block;
  width: 3.25em;
  height: 1.5em;
  padding: 0;
}

.toggle input
{
  opacity: 0;
  width: 0;
  height: 0;
}

.slider-round 
{
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider-round:before 
{
  position: absolute;
  content: "";
  height: 1.05em;
  width: 1.05em;
  left: 0.25em;
  bottom: 0.25em;
  background-color: #ffffff;
  -webkit-transition: .4s;
  transition: .4s;
}
  
input:checked + .slider-round {
  background-color: #4A746A;
}

input:focus + .slider-round {
  box-shadow: 0 0 1px #4A746A;
}

input:checked + .slider-round:before {
  -webkit-transform: translateX(1.62em);
  -ms-transform: translateX(1.62em);
  transform: translateX(1.62em);
}

.slider-round {
  padding: 0;
  border-radius: 2.12em;
}

.slider-round:before {
  border-radius: 50%;
}

/*Styling the forms*/
.flash-msg 
{
  padding: 8px;
  background-color: red;
  color: white;
  width: 30%;
  margin: auto;
}

/*SIGNUP FORM STYLING*/
.signup-form 
{
  width: 100%;
  max-width: 35em;
  margin: auto;
}

.signup-form form
{
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 4em;
  min-height: 21.87em;
  max-width: 60em;
  width: 100%;
  background-color: #e3e3e3;
  border-radius: 8px;
  padding: 0.4em;
}
.signup-form label 
{
  font-family: "Mason";
  text-align: center;
  width: 100%;
  max-width: 12em;
  margin: 2em;
  display: inline;
}

/*LOGIN FORM STYLING*/
.form-container
{
  width: 100%;
  max-width: 25em;
  margin: auto;
  opacity: 95%;
}

.form-container form
{
  margin-top: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 21.87em;
  max-width: 80em;
  width: 100%;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 2.18em;
  border-radius: 15px;
  background-color: #e3e3e3;
  border-radius: 8px;
  padding: 0.8em
}

p
{
  width: 30%;
  margin: auto;
  padding: 1em;
}

.control
{
  font-size: 1.5em;
  font-family: "Mason";
  width: 80%;
}

#userN
{
  text-align: center;
}

#passW
{
  text-align: center;
}

label
{
  float: left;
}
span
{
  float: left;
  padding: 0.5em;
}
input
{
  border: 1px solid black;
  border-radius: 15px;
  width: 100%;
  padding: 10px;
  margin-top: 0.5em;
}

/*Styling the heading/title text for the login and sign up forms*/
.heading
{
  margin: 2em 0 0 0;
  text-align: center;
  color: black;
  width: 100%;
  max-width: 60em;
}

h2
{
  font-size: 2em;
}
h1
{
  font-size: 3.5em;
}

main
{
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.loginbg
{
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.forgetitle{
  font-family: Mason;
  color: white;
}

.form-btns
{
  width: 80%;
  margin: auto;
  display: inline-block;
}
.form-btns .btn
{
  margin-left: 1.5em;
  margin-right: 1.5em;
  padding: 0.2em;
  font-family: "Mason";
  font-size: 23px;
}

.signup-btn
{
  margin: 1em;
}
.btn
{
  border-radius: 12px;
  text-decoration: none;
  color: black;
  background-color: white;
  font-size: 20px;
  width: 5em;
  border: 1px solid black;
  transition-duration: 0.4s;
  margin: 0.3em;
}
.btn:hover
{
  background-color: #3CA54E;
  color: white;
  cursor:pointer;
}