#title
{
    margin-top: 0;
}
/*Styles the main content on the page*/
.main-content, .column-right
{
    float: left;
    display: flex;
    flex-direction: column;
    gap: 1em;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    max-width: 60em;
}
.posts
{
    padding: 1.25em;
    margin-top: 1.25em;
}
/*Styles the actual individual posts on the newsfeed*/
.post-box
{
    overflow: hidden;
    background-color: white;
    border: 1px solid black;
    padding: 0.5em;
}

.about-box
{
    overflow: hidden;
    background-color: white;
    border: 1px solid black;
    padding: 0.5em;
    text-align: center;
    margin-left: 80px;
    margin-right: 80px;
    padding-bottom: 40px;
}

.contact-box
{
    overflow: hidden;
    background-color: white;
    border: 1px solid black;
    padding: 0.5em;
    text-align: center;
    margin-left: 280px;
    margin-right: 280px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.about-size
{
    font-size: 20px;
}

.post-box h3
{
    margin-top: 0;
    float: left;
}
.post-box  p
{
    float: left;
    text-align: left;
    padding: 1em;
    margin-top: 0.3em;
}
.post-box .post-meta
{
    
    display: flex;
    flex-wrap: nowrap;
    flex-direction:row;
    justify-content: space-around;
    float: right;
}
.post-box .post-meta h4, h5
{
    margin-left: 1em;
    margin-top: 0;
}

.column-right
{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 30em;
    float: right;
}
.column-right h2
{
    float: left;
    font-size: 2em;
}
/* Clear floats after the columns */
main:after 
{
    content: "";
    display: table;
    clear: both;
}

.contact
{
    float: right;
    
}