h1 {
    font-size: 3.5em;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*USER PROFILE PAGE*/
.flexContainer {
    display: flex;
}


.userProfile {
    margin: auto;
    width: 35%;
    padding-left: 10px;
    margin-left: 200px;
}

.userStatistics {
    margin: auto;
    width: 25%;
    padding-right: 10px;
    margin-right: 200px;
    float: right;
}

.currentSubscription {
    margin: auto;
    text-align: center;
    width: 35%
}

/* CONTACT PAGE*/


.contact {
    margin: center;
    width: 100%;
    padding-left: 10px;
    margin-left: center;
    text-align: center;
}