@font-face {
    font-family: 'Mason';
    src: url("fonts/mason.ttf");
  }

h1 {
    font-size: 3.5em;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*USER PROFILE PAGE*/
.flexContainer {
    display: flex;
}


.userProfile {
    margin: auto;
    width: 35%;
    padding-left: 10px;
    margin-left: 200px;
}

.userStatistics {
    margin: auto;
    width: 25%;
    padding-right: 10px;
    margin-right: 200px;
    float: right;
}

.currentSubscription {
    margin: auto;
    text-align: center;
    width: 35%
}

/* CONTACT PAGE*/
.contact {
    margin: center;
    width: 100%;
    padding-left: 10px;
    margin-left: center;
    text-align: center;
}

/* ISSUES PAGE*/
.issues {
    margin: center;
    width: 100%;
    padding-left: 10px;
    margin-left: center;
    text-align: center;
}

textarea {
    border: 1px solid black;
    border-radius: 12px;
    margin-bottom: 1em;
    text-align: left;
    padding: 0.5em;
    font-family: "Mason";
    min-height: 20em;
    min-width: 30em;
}

/* ABOUT PAGE*/
.about {
    margin: center;
    width: 100%;
    padding-left: 10px;
    margin-left: center;
    text-align: center;
}

/* SUBSCRIPTION PAGE*/
.subPageTitle {
    text-align: center;
}

.row {
    float: left;
    width: 50%;
    padding-left: 550px;
    text-align: center;
    font-size: 20px;
}

.row2
{
    float: left;
    width: 50%;
    padding-left: 250px;
    text-align: center;
    font-size: 25px;
    font-family: "Mason";
}

.details {
    float: right;
    width: 50%;
    padding-right:150px;
    text-align: center;
    font-size: 35px;
    
}

#subscribedetail
{
    font-family: 'Mason';
    font-size: 30px;
}