body {
    background-image: linear-gradient(to bottom right, #380036, #0CBABA);
}

.btn {
    border-radius: 6px;
    border-color: grey;
    color: black;
    text-align: center;
    padding: 15px 32px;
    width: 35%;
    margin: auto;
}

.btn:hover {
    background-color: grey;
    color: rgba(255, 255, 255, 0.322);
}

h1 {
    font-size: 3.5em;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}