<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Register</title>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='navbar.css')}}"/>
    </head>
    <body>
        <nav>
            <a href="{{ url_for('main.home')}}">Home</a>
            <a href="{{ url_for('main.worlds')}}">World Info</a>
            <a href="{{ url_for('main.userprofile')}}">User Profile</a>
            <a href="{{ url_for('main.issues')}}">Issues</a>
            <a href="{{url_for('main.contact')}}">Contact</a>
            <a href="{{ url_for('main.subscription')}}">Subscription</a>
            <a href="{{ url_for('auth.logout')}}">Log Out</a>
        </nav>

        <div>
            <h1>Contact</h1>
            <p>Contacting us is easy. Try one of the following options so that we can help you quickly:</p>
            <p>Email: admin@worldforge.com</p>
            <p>International Phone: +64 555 5555</p>
            <p>Discord: WorldForgeMain</p>

            <p>For more information on our website, please check out our About section:</p>
            <a href="{{url_for('about')}}">About</a>
        </div>
    </body>
</html>