<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Edit World Details</title>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='navbar.css')}}"/>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='base.css')}}"/>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><a href="{{ url_for('main.home')}}">Home</a></li>
                    <li><a href="{{ url_for('main.subscription')}}">Subscription</a></li>
                    <li><a href="{{ url_for('update.worlds')}}">Worlds</a></li>
                    <li><a href="{{ url_for('main.userprofile')}}">User Profile</a></li>
                    <div class="dropdown">
                        <button class="dropdown-btn">More
                            <i class="fa fa-caret-down"></i>
                        </button>
                        <div class="dropdown-content">
                            <a href="{{ url_for('main.issues')}}">Issues</a>
                            <a href="{{url_for('main.contact')}}">Contact</a>
                            <a href="{{ url_for('main.about')}}">About</a>
                        </div>
                    </div>
                    <li><a href="{{ url_for('auth.logout')}}">Log Out</a></li>
                </ul>
            </nav>
        </header>
       <main>
         <!--The world name in the brackets will be replaces by the name of the world the user is editing-->
         <h1>{{ worldName }}</h1>
         <h3 id="centered">Choose which details to edit</h3>
 
         <!--All the fields which can be edited are inside this div-->
            <div class="input-fields">
                <form method="POST" action="/editworldinfo"  enctype="multipart/form-data" >
                    <div class="flex-left">
                        <input type="hidden" name="worldName" value="{{ worldName }}">
                        <label for="name">Change Name:</label>
                        <input type="text" id="name" name="name"><br><br>
                        <label for="worldDetails">World description</label>
                        <textarea id="worldDetails" name="worldDetails" rows="5" cols="30">
                        </textarea>
                    </div>
                    <div class="flex-right">
                            <label for="images">Upload New Images</label>
                            <input type="file" id="image" name="imageFile" accept="image/*" >
                    </div>
                    <div class="btn-group">

                        <button type="submit" class="btn">Save World</button>
                    </div>
                </form>
                
                <!--Add a confirmation here somehow-->
                <form action="/deleteworld" method="POST">
                    <button class="btn" type="submit">Delete World</button>
                </form>
            </div>
       </main>
    </body>
</html>
