<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Home</title>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='navbar.css')}}"/>
    </head>
    <body>
        <nav>
            <a href="{{ url_for('main.home')}}">Home</a>
            <a href="{{ url_for('main.worlds')}}">World Info</a>
            <a href="{{ url_for('main.userprofile')}}">User Profile</a>
            <a href="{{ url_for('main.issues')}}">Issues</a>
            <a href="{{url_for('main.contact')}}">Contact</a>
            <a href="{{ url_for('main.subscription')}}">Subscription</a>
            <a href="{{ url_for('auth.logout')}}">Log Out</a>
        </nav>

        <div>
            <div>
                <h2>Welcome, {{ username }}</h2>
                <p>
                    Placeholder Text
                </p>
                
                <p>
                    Placeholder Comment
                </p>
            </div>
            <div>
                <p> 
                    Your Feed
                </p>
                <p>
                    Comment1
                </p>
            </div>
        </div>
        
    </body>
</html>