<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Register</title>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='navbar.css')}}" />
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='base.css')}}" />
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}" />
    </head>
    <body>
            <header>
            <nav>
                <ul>
                    <li><a href="{{ url_for('main.home')}}">Home</a></li>
                    <li><a href="{{ url_for('main.subscription')}}">Subscription</a></li>
                    <li><a href="{{ url_for('update.worlds')}}">Worlds</a></li>
                    <li><a href="{{ url_for('main.userprofile')}}">User Profile</a></li>
                    <div class="dropdown">
                        <button class="dropdown-btn">More
                            <i class="fa fa-caret-down"></i>
                        </button>
                        <div class="dropdown-content">
                            <a href="{{ url_for('main.issues')}}">Issues</a>
                            <a href="{{url_for('main.contact')}}">Contact</a>
                            <a href="{{ url_for('main.about')}}">About</a>
                        </div>
                    </div>
                    <li><a href="{{ url_for('auth.logout')}}">Log Out</a></li>
                </ul>
            </nav>
        </header>
        <br><br><br>
        <div class="subPageTitle">
            <h1>Realmmakers Deals</h1>
            <p id="subscribedetail">Consider subscribing for these amazing deals:</p>
            <br><br>
        </div>
        <div class="row2">
            <p>Divinity</p>
            <br>
            <img src="../static/images/divinity.svg" alt="DivinityImage">
            <p>At Divinity Tier, you gain access to two additional worlds.</p>
            <br><br><br>
            <p>Deity</p>
            <br>
            <img src="../static/images/deity.svg" alt="DeityImage">
            <p>At Deity Tier, you gain access to five additional worlds.</p>
            <br><br><br>
            <p>Celestial</p>
            <br>
            <img src="../static/images/Celestial.svg" alt="CelestialImage">
            <p>At Celestial Tier you gain access to unlimited worlds.</p>
            <br>
        </div>
        <div class="details">
            <br><br><br>
            <p>$2 NZD per month</p>
            <br><br><br><br><br><br><br><br>
            <p>$5 NZD per month</p>
            <br><br><br><br><br><br>
            <p>$10 NZD per month</p>
            <br><br><br><br><br>
        </div>
    </body>
</html>