<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>User Profile</title>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='navbar.css')}}" />
    </head>
    <body>
        <nav>
            <a href="{{ url_for('main.home')}}">Home</a>
            <a href="{{ url_for('main.worlds')}}">World Info</a>
            <a href="{{ url_for('main.userprofile')}}">User Profile</a>
            <a href="{{ url_for('main.issues')}}">Issues</a>
            <a href="{{url_for('main.contact')}}">Contact</a>
            <a href="{{ url_for('main.subscription')}}">Subscription</a>
            <a href="{{ url_for('main.about')}}">About</a>
            <a href="{{ url_for('auth.logout')}}">Log Out</a>
        </nav>
        <div class="userprofile">
            <h1>User Profile</h1>
            <p>Here you can update your user details</p>
            <br><br>
            <h2>Change your email</h2>
            <p></p>
            <textarea id="updateEmail" name="updateEmail" rows="1" cols="1">
                Enter your updated Email Here
            </textarea>
            <button class="btn">Change Email</button>
            <br><br>
            <h2>Update Password</h2>
            <p></p>
            <textarea id="updatePassword" name="updatePassword" rows="1" cols="1">
                Enter your updated Password Here
            </textarea>
            <button class="btn">Change Password</button>
            <br><br>
        </div>
        <div class="userStatistics">
            <p>Mana Points: {{231}}</p>
            <br><br>
            <p>Posts: {{3}}</p>
            <br><br>
            <p>Comments: {{12}}</p>
            <br><br>
            <p>Awards: {{1}}</p>
        </div>
        <div class="currentSubscription">
            <h1>Current Subscription: </h1>
            <p>{{Creator}}</p>
            <button class="btn">Upgrade</button>
        </div>
    </body>
</html>