<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Worlds</title>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='navbar.css')}}" />
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='base.css')}}"/>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><a href="{{ url_for('main.home')}}">Home</a></li>
                    <li><a href="{{ url_for('main.subscription')}}">Subscription</a></li>
                    <li><a href="{{ url_for('update.worlds')}}">Worlds</a></li>
                    <li><a href="{{ url_for('main.userprofile')}}">User Profile</a></li>
                    <div class="dropdown">
                        <button class="dropdown-btn">More
                            <i class="fa fa-caret-down"></i>
                        </button>
                        <div class="dropdown-content">
                            <a href="{{ url_for('main.issues')}}">Issues</a>
                            <a href="{{url_for('main.contact')}}">Contact</a>
                            <a href="{{ url_for('main.about')}}">About</a>
                        </div>
                    </div>
                    <li><a href="{{ url_for('auth.logout')}}">Log Out</a></li>
                </ul>
            </nav>
        </header>
        <div class="worldsPage">
            <br><br><br><br>
            <h1>Your Worlds</h1>
            <div class="flex-form">
                <form method="POST" action="/worldinfo">
                    <select id="options" name="options">
                        <option value="one">World One</option>
                        <option value="two">World Two</option>
                    </select>
                    <button type="submit" class="btn">Load World</button>
                    <a href=" {{ url_for('main.createworld')}}"><button class="btn" type="button">Create New World</button></a>
                    <button class="btn" type="button">Unlock More Worlds</button>
                </form>
            </div>
            
           
        </div>
    </body>
</html>