<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>World Info</title>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='navbar.css')}}"/>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='base.css')}}"/>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><a href="{{ url_for('main.home')}}">Home</a></li>
                    <li><a href="{{ url_for('main.subscription')}}">Subscription</a></li>
                    <li><a href="{{ url_for('update.worlds')}}">Worlds</a></li>
                    <li><a href="{{ url_for('main.userprofile')}}">User Profile</a></li>
                    <div class="dropdown">
                        <button class="dropdown-btn">More
                            <i class="fa fa-caret-down"></i>
                        </button>
                        <div class="dropdown-content">
                            <a href="{{ url_for('main.issues')}}">Issues</a>
                            <a href="{{url_for('main.contact')}}">Contact</a>
                            <a href="{{ url_for('main.about')}}">About</a>
                        </div>
                    </div>
                    <li><a href="{{ url_for('auth.logout')}}">Log Out</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <h1 class="title">{{ WorldName }}</h1>
                <button class="btn" id="left">Privacy:{{public}}</button>
                <form method="get" action="/editworldinfo">
                    <input type="hidden" name="WorldName" value="{{ WorldName }}">
                    <button class="btn">Edit World Information</button>
                </form>
                <div id="description">
                    <h2>Description</h2>
                    <p>
                        {{ description }}
                    </p>
                </div>
                <div class="flex-container">
                        <div class="details">
                            <h3>Culture</h3>
                            {% if Culture_details %}
                            <p>{{ Culture_details }}</p>
                            {% else %}
                                <p>No current details saved for this world</p>
                            {% endif %}
                            <a href="{{url_for('update.culture', WorldName = WorldName)}}">
                                <button class="btn">View</button>
                            </a>
                        </div>
                        <div class="details">
                            <h3>History</h3>
                            {% if History_details %}
                                <p>{{ History_details }}</p>
                            {% else %}
                                <p>No current details saved for this world</p>
                            {% endif %}
                        <a href="{{ url_for('main.history', WorldName = WorldName)}}"><button class="btn">View</button></a>
                            
                        </div>
                        <div class="details">
                            <h3>Species</h3>
                            {% if Species_details %}
                                <p>{{ Species_details }}</p>
                            {% else %}
                                <p>No current details saved for this world</p>
                            {% endif %}
                        <a href="{{ url_for('main.species', WorldName = WorldName)}}"><button class="btn">View</button></a>
                        </div>
                    </div>
                    <div class="left-details">
                        <div class="details">
                            <h3>Religions</h3>
                            {% if Religions_details %}
                                <p>{{ Religions_details }}</p>
                            {% else %}
                                <p>No current details saved for this world</p>
                            {% endif %}
                        <a href="{{ url_for('main.religion', WorldName = WorldName)}}"><button class="btn">View</button></a>
                        </div>
                        <div class="details">
                            <h3>Timeline</h3>
                            {% if Timeline_details %}
                                <p>{{ Timeline_details }}</p>
                            {% else %}
                                <p>No current details saved for this world</p>
                            {% endif %}
                        <a href="{{ url_for('main.timeline', WorldName = WorldName)}}"> <button class="btn">View</button></a>
                        </div>
                        <div class="details">
                            <h3>Maps</h3>
                            <p>Maps details</p>
                            <a href="{{ url_for('main.maps', WorldName = WorldName)}}"><button class="btn">View</button></a>
                        </div>
                        <div class="details">
                            <h3>Images</h3>
                            <p>Images can be found here</p>
                            <a href="{{ url_for('main.images', WorldName = WorldName)}}"><button class="btn">View</button></a>
                        </div>
                    </div>
                </div>
        </main>
    </body>
</html>
