<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Worlds</title>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='navbar.css')}}" />
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='base.css')}}"/>
        
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><a href="{{ url_for('main.home')}}">Home</a></li>
                    <li><a href="{{ url_for('main.subscription')}}">Subscription</a></li>
                    <li><a href="{{ url_for('update.worlds')}}">Worlds</a></li>
                    <li><a href="{{ url_for('main.userprofile')}}">User Profile</a></li>
                    <div class="dropdown">
                        <button class="dropdown-btn">More
                            <i class="fa fa-caret-down"></i>
                        </button>
                        <div class="dropdown-content">
                            <a href="{{ url_for('main.issues')}}">Issues</a>
                            <a href="{{url_for('main.contact')}}">Contact</a>
                            <a href="{{ url_for('main.about')}}">About</a>
                        </div>
                    </div>
                    <li><a href="{{ url_for('auth.logout')}}">Log Out</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <h1>Your Worlds</h1>
            <div class="flex-form">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <div class="flash-msg">
                            {{ messages[0] }}
                        </div>
                    {% endif %}
                {% endwith %}
                <form method="POST" action="/worldinfo/">
                    {% if worlds_list|length %}
                        <select id="options" name="option">
                            <!--Dynamically displays the world name options depending on the users saved worlds-->
                            <option value="choose" selected>Please Choose One</option>
                            {% for world in worlds_list %}
                                <option value="{{ world }}">{{ world }}</option>
                            {% endfor %}
                        </select>
                    {% else %}
                        <p>No Saved Worlds Available, Please Create One Below</p>
                    {% endif %}
                    <button type="submit" class="btn">Load World</button>
                    <a href=" {{ url_for('main.createworld')}}"><button class="btn" type="button">Create New World</button></a>
                    <a href="{{ url_for('main.subscription')}}"><button class="btn" type="button">Unlock More Worlds</button></a>
                </form>
                <a href="{{ url_for('create.deleteworld')}}"><button class="btn2" type="button">Delete World</button></a>
            </div>
            <!--The Code in the Script tags handles the dynamically changed values from the dropdown and passes the chosen value back to the python function-->
            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
            <script>
              // Handle dropdown change event
              $(document).ready(function() {
                $('#options').change(function() {
                  var option = $(this).val();
                  var stringOption = String(option);
                  console.log(stringOption)
                  // Passes the user's selected choice to Flask using AJAX
                  $.ajax({
                    type: 'POST',
                    url: '/worldinfo',
                    data: { option: stringOption },
                    success: function(response) {
                      // Handle the response from Flask if needed
                      console.log(response);
                    },
                    error: function(error) {
                      // Handle any errors that happen during the request
                      console.log(error);
                    }
                  });
                });
              });
            </script>
        </main>
    </body>
</html>